<section id="contact" class="fill">
    <div class="container wow fadeInUp">
           <div class="col-md-offset-2 col-md-8">
                <h3 class="section-title">Evaluadores</h3>
                <div class="section-title-divider"></div>
               <table class='table table-bordered'>
                <tr>
                    <th>CI</th>
                    <th>Nombres</th>
                    <th>Email</th>
                    <!--<th>Area</th>-->
                    
                </tr>
                <% _.each(evaluadores, function(evaluador) { %>
                <tr data-id="<%= evaluador.id %>" data-model="evaluador">
                    <td><%= evaluador.ci_evaluador %></td>
                    <td><%= evaluador.nombre_evaluador %></td>
                    <td><%= evaluador.email_evaluador %></td>
                    <!--==========================
<td><%= evaluador.id_area_r %></td>
============================--> 
                    <td><a href="/evaluador/verEvaluadores/<%= evaluador.id %>" class="btn btn-sm btn-primary">Ver</a></td>
                    <td><a href="/evaluador/editar_evaluador/<%= evaluador.id %>" class="btn btn-sm btn-warning">Editar</a></td>
                    <td>
                        <button type="button" class="btn btn-danger" id="btn_eliminar_area">Borrar</button>
                    </td>
                </tr>
                <% }) %>
            </table>
            <a class="btn btn-primary" href="/evaluador/new_evaluador">Registrar nuevo evaluador</a>
            </div>
            
            </div>
        </section>  