<section id="contact" class="fill">
    <div class="container wow fadeInUp">
      <h3>examenes
      <table class='table'>
          <tr>
              <th>fecha inicio</th>
              <th>fecha fin</th>
              <th>area</th>
              <!--<th>Area</th>-->
              <th></th>
              <th></th>
              <th></th>
          </tr>
          <%_.each(examenes,function(examen){%>
          <tr data-id="<%= examen.id %>" data-model="examen">
              <td><%= examen.fecha_hora_inicio %></td>
              <td><%= examen.fecha_hora fin %></td>
              <td><%= examen.id_area_r %></td>

              <td><a href="/examen/verexamenes/<%= examen.id %>" class="btn btn-sm btn-primary">Ver</a></td>
              <td><a href="/examen/editar_examen/<%= examen.id %>" class="btn btn-sm btn-warning">Editar</a></td>
              <td>
              <button type="button" class="btn btn-danger" id="btn_eliminar_area">Borrar</button>
              </td>
          </tr>
          <% }) %>
      </table>
      <a href="/examen/new_examen">Registrar nuevo examen</a>
 </div>
  </section>  